# Symfony directories
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
var/

# Configuration files
config/parameters.ini
config/parameters.yml
.htaccess

# PHP Storm (Juanan)
.idea/*

# Dependencias
*/vendor/*
vendor/
