{% set title = 'Nuevo participante' %}

{% block content %}
    <div id="main" role="main" class="container">

    <h1>{{ title }}</h1>

    <form action="/participante/grabar" method="post" class="form">
        <input type="text" name="nombre" {% if participante is defined %}value="{{ participante.nombre }}"{% endif %}>
        <input type="text" name="apellidos"
               {% if participante is defined %}value="{{ participante.apellidos }}"{% endif %}>
        <input type="submit" value="Grabar participante">
    </form>

{% endblock %}