{% extends "layout.html.twig" %}
{% set active = 'participantes' %}
{% set title = 'Editar participante' %}

{% block content %}

    <h2>{{ title }}</h2>

    <form action="/participante/grabar" method="post" class="form">
        <input type="hidden" name="id" value="{{ participante.id }}">
        <input type="text" name="nombre" value="{{ participante.nombre }}">
        <input type="text" name="apellidos" value="{{ participante.apellidos }}">
        <input type="submit" value="Guardar cambios">
    </form>

{% endblock %}