{% extends "layout.html.twig" %}
{% set active = 'encuestas' %}
{% set title = 'Lista de encuestas' %}

{% block content %}
    <div class="container">
        <h2>Lista de encuestas</h2>
        <ul>
            {% for encuesta in encuestas %}
                <li>
                    {{ encuesta.nombre|e }}, {{ encuesta.id }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
