<footer class="footer">
    <div class="row-fluid">
        <div class="col-md-4">
            <ul class="list-unstyled">
                <li><strong>Dirección de Recursos Humanos</strong></li>
                <li>Universidad de Sevilla</li>
                <li>C/ San Fernando s/n, 41004 Sevilla, España</li>
                <li><a href="http://recursoshumanos.us.es">http://recursoshumanos.us.es</a></li>
                <li>
                </li>
            </ul>

            <ul class="list-inline">
                <li><a href="#">Créditos</a></li>
                <li><a href="#">Condiciones</a></li>
                <li><a href="#">Contactar</a></li>
                <li><a href="#o">Soporte</a></li>
            </ul>
        </div>


        <div class="col-md-4">
            <ul class="list-unstyled">
                <li><a href="http://www.us.es">Universidad de Sevilla</a></li>
                <li><a href="http://docentes.us.es">Área Personal Docente</a></li>
                <li><a href="https://sede.us.es/web/guest">Sede Electrónica</a></li>
                <li><a href="https://sevius.us.es/">Secretaría Virtual</a></li>
                <li><a href="https://institucional.us.es/exponaus/">Buzón de quejas, sugerencias y menciones</a></li>
                <li><a href="http://www.us.es/acerca/comunicacion/tablones/">Tablón de anuncios</a></li>
            </ul>
        </div>


        <div class="col-md-4">
            <a href="http://www.us.es"><img class="pull-right" src="/assets/images/logo-us-240x200.png"
                                            alt="Marca Universidad de Sevilla" width="120" height="100"></a>

        </div>
    </div>
</footer>