{% set active = 'participantes' %}
{% set title = 'Lista de participantes' %}

{% block content %}
    <div class="container">
        <h2>Lista de Participantes</h2>
        <ul>
            {% for participante in participantes %}
                <li>
                    {{ participante.nombre|e }} {{ participante.apellidos|e }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
