{% set title = 'Nuevo participante' %}

{% block content %}
    <div id="main" role="main" class="container">

    <h1>{{ title }}</h1>

    <form action="participante_grabar" method="post" class="form-horizontal">
        <input type="text" name="nombre">
        <input type="text" name="apellidos">
        <input type="submit" value="Grabar participante">
    </form>

{% endblock %}